services:

  js_pw_test:
    build: { context: ., dockerfile: Dockerfile }
    env_file: .env
    dns: [8.8.8.8, 1.1.1.1]
    environment:
      HOST_ARTIFACTS: /tests/artifacts
      DISPLAY: $DISPLAY
    ports: ["8000:8000"]
    volumes:
      - media_data:/app/media
      - ${HOST_ARTIFACTS}:/tests/artifacts
      - /tmp/.X11-unix:/tmp/.X11-unix
    stop_signal: SIGINT
    stop_grace_period: 5s

volumes:
  pgdata:
  media_data:
